body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator-container {
    padding: 20px;
    background-color: rgb(64, 64, 64);
    
}

.calculator-display {
    width: auto;
    height: 55px;
    background-color: rgb(129, 164, 129);
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 30px;
    padding-right: 16px;
}

button {
    box-sizing: border-box;
    width: 55px;
    height: 40px;
    padding: 5px, 15px, 10px, 12px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 10px;
    border-color: white;
}

.clear-button, 
.delete-button {
    width: 50%;
    flex: 1 1 auto;
    font-weight: 500;
}

.clear-button {
    background-color: lightcoral;
    border-color: lightcoral;
}

.delete-button {
    background-color: lightblue;
    border-color: lightblue;
}

.button-row {
    display: flex;
    gap: 20px;
}

.equals-button {
    background-color: orange;
    border-color: orange;
}
